.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
  max-width: 450px;
}

.main__upgradePercents {
  display: grid;
  grid-template-columns: 220px 1fr auto 80px;
  gap: 5px;
}

.upgradePercent {
  display: contents;
}

.upgradePercent__input.invalid {
  border: red 3px solid;
}

input {
  width: 100%;
}

input {
  box-sizing: border-box;
}
